@import "reset.css";
@import "header.css";
@import "side-bar__left.css";
@import "chart.css";
@import "map.css";

/* #map {
  height: 400px;
  width: 100%;
} */

.main__imformation {
  background-color: #ebebeb;
  padding-top: 12px;
  display: flex;
  height: 850px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
