@import "reset.css";
@import "header.css";
@import "side-bar__left.css";
@import "chart.css";
@import "map.css";
@import "preload.css";

a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}
a:active {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}

.main__imformation {
  background-color: #ebebeb;
  padding-top: 12px;
  display: flex;
  height: 850px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
